<ion-header>
  <ion-navbar>
    <ion-title text-center>
      Discutez avant
    </ion-title>
    <ion-title text-center>
      de prendre une décision
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <p *ngIf="hidevalue==false"> {{maxTime}}</p>
  <ion-item *ngFor="let duel of moteur.battles">
    <ion-row>

      <ion-col text-center>
        <h2>{{moteur.players[duel[0]].pseudo}}</h2>
        <div *ngIf="duel[1]==moteur.ID_DUO">
          <img width="75" height="75" class="centered-and-cropped" [src]=moteur.players[duel[0]].image>
        </div>
        <div *ngIf="duel[1]!=moteur.ID_DUO">
          <img width="100" height="100" class="centered-and-cropped" [src]=moteur.players[duel[0]].image>
        </div>
        <h1>{{moteur.players[duel[0]].points}}</h1>
      </ion-col>

      <ion-col text-center>
        <h1>VS</h1>
      </ion-col>

      <ion-col *ngIf="duel[1]!=moteur.ID_DUO" text-center>
        <h2>{{moteur.players[duel[1]].pseudo}}</h2>

        <img width="100" height="100" class="centered-and-cropped" [src]=moteur.players[duel[1]].image>

        <h1>{{moteur.players[duel[1]].points}}</h1>
      </ion-col>

      <ion-col *ngIf="duel[1]==moteur.ID_DUO" text-center>
        <h2>{{moteur.players[moteur.duo[0]].pseudo}}</h2>

        <img width="75" height="75" class="centered-and-cropped" [src]=moteur.players[moteur.duo[0]].image>

        <h1>{{moteur.players[moteur.duo[0]].points}}</h1>
      </ion-col>

      <ion-col *ngIf="duel[1]==moteur.ID_DUO" text-center>
        <h2>{{moteur.players[moteur.duo[1]].pseudo}}</h2>

        <img width="75" height="75" class="centered-and-cropped" [src]=moteur.players[moteur.duo[1]].image>

        <h1>{{moteur.players[moteur.duo[1]].points}}</h1>
      </ion-col>




    </ion-row>
  </ion-item>
  <div text-center>
    <button ion-button round (click)=Ready()>Prêts</button>
  </div>


</ion-content>
