page-results {

  .foo {
   position: absolute;
   top:0px;
}

 .centered-and-cropped {
  object-fit: cover;
}

.over {
  background-image: url('../../assets/imgs/miss.png');
  position: absolute;
  top:0px;
  z-index: 1;
  width: 200px;
  height: 150px;
}

.monItem{
  height: 175px;
}

}
