<ion-header>
  <ion-navbar>
    <ion-title text-center>
      Passez l'appareil
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="moteur.battles[moteur.index_battles[0]][moteur.index_battles[1]]!=moteur.ID_DUO">
    <div text-center>
      <h1>{{moteur.players[moteur.battles[moteur.index_battles[0]][moteur.index_battles[1]]].pseudo}}</h1>
    </div>
    <ion-item text-center>

        <img width="125" height="125" class="centered-and-cropped" [src]=moteur.players[moteur.battles[moteur.index_battles[0]][moteur.index_battles[1]]].image>

    </ion-item>
    <div text-center>
      <h2>C'est à vous de voter</h2>
    </div>
  </div>

  <div *ngIf="moteur.battles[moteur.index_battles[0]][moteur.index_battles[1]]==moteur.ID_DUO">
    <ion-row>
      <ion-col>
        <div text-center>
          <h1>{{moteur.players[moteur.duo[0]].pseudo}}</h1>
        </div>
        <ion-item text-center>

            <img width="125" height="125" class="centered-and-cropped" [src]=moteur.players[moteur.duo[0]].image>

        </ion-item>
      </ion-col>
      <ion-col>
        <div text-center>
          <h1>{{moteur.players[moteur.duo[1]].pseudo}}</h1>
        </div>
        <ion-item text-center>

            <img width="125" height="125" class="centered-and-cropped" [src]=moteur.players[moteur.duo[1]].image>

        </ion-item>
      </ion-col>
    </ion-row>
    <div text-center>
      <h2>C'est à vous de voter</h2>
    </div>


  </div>



  <div text-center>
    <button ion-button round (click)=Ready()>Je suis prêt!</button>
  </div>

</ion-content>
