page-bilan {
  .avatar img {
    margin: auto;
    width:100% !important;
    height : 100% !important;
    max-width: 200px !important;  //any size
    max-height: 200px !important; //any size
 }
 .fleche{
  margin: auto;
  width:100% !important;
  height : 100% !important;
  max-width: 100px !important;  //any size
  max-height: 100px !important; //any size
 }

}
