<ion-header>
  <ion-navbar>
    <ion-title text-center>
      C'est l'heure du verdict !
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col text-center>
        <h1>{{moteur.players[moteur.battles[index][0]].pseudo}}</h1>
        <ion-item>

          <div *ngIf="moteur.battles[index][1]==moteur.ID_DUO" text-center>
            <img width="75" height="75" class="centered-and-cropped" [src]=moteur.players[moteur.battles[index][0]].image>
          </div>
          <div *ngIf="moteur.battles[index][1]!=moteur.ID_DUO" text-center>
            <img width="125" height="125" class="centered-and-cropped" [src]=moteur.players[moteur.battles[index][0]].image>
          </div>

        </ion-item>
        <h1 *ngIf='moteur.players[moteur.battles[index][0]].vote=="A"'>Alliance</h1>
        <h1 *ngIf='moteur.players[moteur.battles[index][0]].vote=="B"'>Trahison</h1>

        <h1>{{moteur.players[moteur.battles[index][0]].prev_points}}</h1>
        <img class="fleche" src="assets/imgs/arrow.png">
        <h1>{{moteur.players[moteur.battles[index][0]].points}}</h1>
      </ion-col>
      <ion-col text-center *ngIf="moteur.battles[index][1]!=moteur.ID_DUO">
        <h1>{{moteur.players[moteur.battles[index][1]].pseudo}}</h1>
        <ion-item>

          <div text-center>
            <img width="125" height="125" class="centered-and-cropped" [src]=moteur.players[moteur.battles[index][1]].image>
          </div>

        </ion-item>
        <h1 *ngIf='moteur.players[moteur.battles[index][1]].vote=="A"'>Alliance</h1>
        <h1 *ngIf='moteur.players[moteur.battles[index][1]].vote=="B"'>Trahison</h1>

        <h1>{{moteur.players[moteur.battles[index][1]].prev_points}}</h1>
        <img class="fleche" src="assets/imgs/arrow.png">
        <h1>{{moteur.players[moteur.battles[index][1]].points}}</h1>
      </ion-col>
      <ion-col text-center *ngIf="moteur.battles[index][1]==moteur.ID_DUO">
        <h1>{{moteur.players[moteur.duo[0]].pseudo}}</h1>
        <ion-item>

          <div text-center>
            <img width="75" height="75" class="centered-and-cropped" [src]=moteur.players[moteur.duo[0]].image>
          </div>

        </ion-item>
        <h1 *ngIf='moteur.players[moteur.duo[0]].vote=="A"'>Alliance</h1>
        <h1 *ngIf='moteur.players[moteur.duo[0]].vote=="B"'>Trahison</h1>

        <h1>{{moteur.players[moteur.duo[0]].prev_points}}</h1>
        <img class="fleche" src="assets/imgs/arrow.png">
        <h1>{{moteur.players[moteur.duo[0]].points}}</h1>
      </ion-col>
      <ion-col text-center *ngIf="moteur.battles[index][1]==moteur.ID_DUO">
        <h1>{{moteur.players[moteur.duo[1]].pseudo}}</h1>
        <ion-item>

          <div text-center>
            <img width="75" height="75" class="centered-and-cropped" [src]=moteur.players[moteur.duo[1]].image>
          </div>

        </ion-item>
        <h1 *ngIf='moteur.players[moteur.duo[1]].vote=="A"'>Alliance</h1>
        <h1 *ngIf='moteur.players[moteur.duo[1]].vote=="B"'>Trahison</h1>

        <h1>{{moteur.players[moteur.duo[1]].prev_points}}</h1>
        <img class="fleche" src="assets/imgs/arrow.png">
        <h1>{{moteur.players[moteur.duo[1]].points}}</h1>
      </ion-col>


    </ion-row>
    <ion-row>
      <ion-col>
        <button ion-button round (click)=Prev()>&larr;</button>
      </ion-col>
      <ion-col>
      </ion-col>
      <ion-col>
        <button ion-button round (click)=Ready()>OK</button>
      </ion-col>
      <ion-col>
      </ion-col>
      <ion-col>
        <button ion-button round (click)=Next()>&rarr;</button>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
